<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611343030352-eqfbgq0rude5vujgms2h92rcchi9kupb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611343030352-eqfbgq0rude5vujgms2h92rcchi9kupb</string>
	<key>API_KEY</key>
	<string>AIzaSyAMzRFkgBtlGBJyQgQrjopXbqZz8fG63UI</string>
	<key>GCM_SENDER_ID</key>
	<string>611343030352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLogin</string>
	<key>PROJECT_ID</key>
	<string>pets-org</string>
	<key>STORAGE_BUCKET</key>
	<string>pets-org.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611343030352:ios:2eedb8ef290cf14b5ed955</string>
</dict>
</plist>